body {
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-image: url("./images/Lucian Background.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
}

.block-quote {
  position: relative;
  width: 40vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 18px solid wheat;
  border-radius: 32px;
}
* {
  box-sizing: border-box;
}
.quote {
  font-size: 24px;
  color:white;
padding:20px;
  font-weight: bold;
  text-align: center;
}
.lucian {
  color:white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 26px;
  font-style: italic;
  margin:10px 20px;
}

.icon{
  color:white;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 36px;
  font-style: italic;
  margin:10px 20px;
}
.button{
  border-radius: 10px;
  height:50px;
  min-width: 150px;
  background-color: wheat;
  border:none;
  width: max-content;
font-size: 20px;
}
.buttons{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
 
  width: 40vw;
}
 .button:hover{
  background-color: rgb(222, 184, 135)
  ;

}
.button:active {
  background-color: orange;
}
